{{ define "header" }}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Hylodoc is a substack alternative built for programmers">
		<title>{{ .Data.Title }}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
		<link rel="stylesheet" href="{{ .CDN }}/css/styles.css" />
		<link rel="stylesheet" href="{{ .CDN }}/css/navbar.css" />

		<!-- Chart.js for graph rendering -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
		<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

		<!-- Stripe integration -->
		<script src="https://js.stripe.com/v3/"></script>
	</head> 

	<body class="libertinus">
			{{ template "navbar" . }}

{{ end }}


{{ define "footer" }}

	</body>
</html>

{{ end }}
