{{ define "navbar" }}

<div class="navbar">
	<div class="container">
		<div class="row">
			<!-- Logo/Brand -->
				{{ if .Data.UserInfo.UserID }}
			<div class="seven columns u-pull-left">
				{{ else }}
			<div class="nine columns u-pull-left">
				{{ end }}
				<a href="{{ .KnuthicURL }}"><img class="logo" src="{{ .CDN }}/img/logo.svg"></a>
			</div>

			{{ if not .Data.UserInfo.IsErrorPage }}
			<!-- Navigation Links -->
				{{ if .Data.UserInfo.UserID }}
			<div class="five columns u-pull-right">
				<a href="{{ .KnuthicURL }}/">home</a>
				<a href="{{ .KnuthicURL }}/pricing">pricing</a>
				<a href="{{ .KnuthicURL }}/user/account">profile</a>
				<span class="separator">~</span>
				<a href="{{ .KnuthicURL }}/user/auth/logout">log out</a>
				<a href="https://discord.gg/Cvh8c7Rk"><img src="{{ .CDN }}/img/discord.svg" alt="Discord"></a>
			</div>
				{{ else }}
			<div class="three columns u-pull-right">
				<a href="{{ .KnuthicURL }}/pricing">pricing</a>
				<a href="{{ .KnuthicURL }}/gh/login">log in</a>
				<a href="https://discord.gg/Cvh8c7Rk">
					<img src="{{ .CDN }}/img/discord.svg" alt="Discord">
				</a>
			</div>
				{{ end }}
			{{ end }}
		</div>
	</div>
</div>

{{ end }}
