{{ define "navbar" }}

<div class="navbar">
	<div class="container">
		<div class="row">
			<!-- Logo/Brand -->
			<div class="u-pull-left">
				<h2><a href="/">Progstack</a></h2>
				<h4>blogging for devs</h4>
			</div>

			<!-- Navigation Links -->
			<div class="u-pull-right">
				{{ if .Data.Session }}
					<a href="/user/account">{{ .Data.Session.Username }}</a>
					<span class="separator">~</span>
					<a href="/user/auth/logout">Logout</a>
				{{ else }}
					<a href="/login">Log in</a>
					<a href="/register">Register</a>
				{{ end }}
				<a href="https://discord.gg/yfx69tbhxQ">
					<img src="/static/img/discord.svg" alt="Discord">
				</a>
			</div>
		</div>
	</div>
</div>

{{ end }}
