{{ template "header" . }}

<section>
	<div class="container">
		<h3>Storage Info</h3>
		<p>
			<strong>Storage Used:</strong>
			{{ .Data.StorageDetails.Used }} of {{ .Data.StorageDetails.Limit}} MB
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h3>Account Details</h3>
		<p>Username: {{ .Data.AccountDetails.Username }}</p>
		<p>Email: {{ .Data.AccountDetails.Email }}</p>
		{{ if .Data.AccountDetails.IsLinked }}
			<p>Linked GitHub Email: {{ .Data.AccountDetails.GithubEmail }}
		{{ else }}
			<a href="gh/linkgithub">Link your GithHub account</a>
		{{ end }}
	</div>
</section>

<section>
	<div class="container">
		<h3>Subscription</h3>
		<p>Plan: {{ .Data.AccountDetails.Subscription.Plan }}
		<p>To manage your subscription, <a href="/user/stripe/billing-portal">click here</a></p>
		<br>
	</div>
</section>

<section>
	<div class="container">
		<h3>Actions</h3>
		<p>To logout, <a href="/user/auth/logout">click here</a></p>
		<p>To delete your account, <a href="/user/delete">click here</a></p>
	</div>
</section>

{{ template "footer" . }}
