{{ template "header" . }}

<div id="toast" class="toast"></div>

<!-- Basic info-->
<section>
	<div class="container">
		<h3>Blog Configuration</h3>
	</div>
</section>

<!-- Configure domains and subdomain -->
<section>
	<div class="container">
		<h4>Domain</h4>
		<!-- need these as templates so that multiple blogs can be setup at once -->
		<form id="subdomainForm" onsubmit="return false;">
			<label for="subdomainInput">Configure subdomain</label>
			<div class="row">
				<div class="four columns"> <input
						class="u-full-width"
						type="text"
						id="subdomainInput"
						value="{{ if .Data.Blog.Subdomain }}{{ .Data.Blog.Subdomain }}{{ end }}"
						placeholder= "Enter your subdomain"
					/>
				</div>
				<div class="three columns u-pull-left">
					<button type="submit" id="submitSubdomainBtn" disabled>Save</button>
				</div>
			</div>
			<div id="availabilityMessage" class="availability-message"></div>
		</form>
	</div>
</section>

<!-- Configure git -->
{{ if .Data.Blog.IsRepository }}
<section>
	<div class="container">
		<h4>Git</h4>

		<!-- Submit git branch for test builds -->
		<form id="test-branch-form" onsubmit="return false;">
			<label for="testBranch">Set git branch for test site generation</label>
			<div class="row">
				<div class="four columns">
					<input
						class="u-full-width"
						type="text"
						id="testBranch"
						value="{{ if .Data.Blog.TestBranch }}{{ .Data.Blog.TestBranch }}{{ end }}"
						placeholder="Enter test-build branch"
					/>
				</div>
				<div class="three columns u-pull-left">
					<button type="submit">Save</button>
				</div>
			</div>
		</form>

		<!-- Submit git branch for live builds -->
		<form id="live-branch-form" onsubmit="return false;">
			<label for="liveBranch">Set git branch for live builds</label>
			<div class="row">
				<div class="four columns">
					<input
						class="u-full-width"
						type="text"
						id="liveBranch"
						value="{{ if .Data.Blog.LiveBranch }}{{ .Data.Blog.LiveBranch }}{{ end }}"
						placeholder="Enter live-build branch"
					/>
				</div>
				<div class="three columns u-pull-left">
					<button type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</section>
{{ end }}

<!-- Toggle site between live/offline -->
<section>
	<div class="container">
		<h4>Site</h4>
		<form id="status-form">
			<label for="statusInput">Set status</label>
			<div class="row">
				<div class="two columns">
					<label>
						<input type="radio" name="status" value="live" {{ if eq .Data.Blog.Status "live" }}checked{{ end }}/>
						Live
					</label>
				</div>
				<div class="two columns">
					<label>
						<input type="radio" name="status" value="offline" {{ if eq .Data.Blog.Status "offline" }}checked{{ end }}/>
						Offline
					</label>
				</div>
				<div class="two columns">
					<button type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</section>

<section>
</section>

<script>
	let debounceTimer;

	/* initialize event listeners */
	function init() {
		/* domain config */
		const subdomainInput = document.getElementById("subdomainInput");
		const subdomainForm = document.getElementById("subdomainForm");
		const testBranchInputForm = document.getElementById("test-branch-form")
		const liveBranchInputForm = document.getElementById("live-branch-form")
		const statusForm = document.getElementById("status-form")

		subdomainInput.addEventListener("input", handleInput);
		subdomainForm.addEventListener("submit", handleSubdomainFormSubmit);
		{{ if .Data.Blog.IsRepository }}
			testBranchInputForm.addEventListener("submit", handleTestBranchFormSubmit)
			liveBranchInputForm.addEventListener("submit", handleLiveBranchFormSubmit)
		{{ end }}
		statusForm.addEventListener("submit", handleStatusFormSubmit)
	}

	/* handle input event with debounce */
	function handleInput() {
		const subdomain = this.value.trim();
		const messageElement = document.getElementById("availabilityMessage");
		const submitSubdomainBtn = document.getElementById("submitSubdomainBtn");

		clearTimeout(debounceTimer); /* clear previous timer */

		if (subdomain.length > 0) {
			updateMessage(messageElement, "Checking availability...", "loading");
		} else {
			resetMessage(messageElement, submitSubdomainBtn); /* Clear message if input is empty */
			return;
		}

		debounceTimer = setTimeout(() => {
			checkSubdomainAvailability(subdomain, messageElement, submitSubdomainBtn);
		}, 300); /* 300ms debounce delay */
	}

	/* Check subdomain availability */
	function checkSubdomainAvailability(subdomain, messageElement, submitSubdomainBtn) {
		fetch("/user/subdomain-check", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ subdomain })
		})
		.then(response => response.json())
		.then(data => {
			if (data.available) {
				updateMessage(messageElement, "✅ This subdomain is available!", "available");
				submitSubdomainBtn.disabled = false;
			} else {
				updateMessage(messageElement, "❌ " + data.message, "unavailable");
				submitSubdomainBtn.disabled = true;
			}
		})
		.catch(error => handleError(error, messageElement, submitSubdomainBtn));
	}

	/* Handle subdomain form submission */
	function handleSubdomainFormSubmit(event) {
		event.preventDefault(); /* Prevent default form submission */

		const subdomain = document.getElementById("subdomainInput").value.trim();
		submitSubdomain(subdomain);
	}

	/* Submit the subdomain to the server */
	function submitSubdomain(subdomain) {
		fetch("set-subdomain", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ subdomain })
		})
		.then(response => {
			if (!response.ok) {
				return response.json().then(errorData => {
					showToast(errorData.message);
					throw new Error(errorData.message);
				});
			}
			return response.json();
		})
		.then(data => {
			console.log("Success: ", data.message);
			showToast(data.message);
		})
		.catch(error => console.error("Error submitting subdomain:", error));
	}

	/* Update the availability message */
	function updateMessage(element, message, status) {
		element.textContent = message;
		element.className = `availability-message ${status}`;
	}

	/* Reset the message and disable submit button */
	function resetMessage(messageElement, submitSubdomainBtn) {
		messageElement.textContent = ""; /* Clear message */
		submitSubdomainBtn.disabled = true; /* Disable submit button */
	}

	/* Handle fetch errors */
	function handleError(error, messageElement, submitSubdomainBtn) {
		console.error("Error checking subdomain:", error);
		updateMessage(messageElement, "⚠️ An error occurred while checking availability.", "unavailable");
		submitSubdomainBtn.disabled = true; /* Disable submit button on error */
	}

	function handleTestBranchFormSubmit(event) {
		event.preventDefault(); /* Prevent default form submission */

		const testBranch = document.getElementById("testBranch").value.trim();
		submitTestBranch(testBranch);
	}

	/* Submit the test branch to the server */
	function submitTestBranch(testBranch) {
		fetch("set-test-branch", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ branch: testBranch }),
		})
		.then(response => {
			if (!response.ok) {
				return response.json().then(errorData => {
					showToast(errorData.message);
					throw new Error(errorData.message);
				});
			}
			return response.json();
		})
		.then(data => {
			console.log("test branch submitted successfully: ", data.message);
			showToast(data.message);
		})
		.catch(error => {
			console.error("Error submitting test branch:", error)
		});
	}

	function handleLiveBranchFormSubmit(event) {
		event.preventDefault(); /* Prevent default form submission */

		const liveBranch = document.getElementById("liveBranch").value.trim();
		submitLiveBranch(liveBranch);
	}

	/* Submit the live branch to the server */
	function submitLiveBranch(liveBranch) {
		fetch("set-live-branch", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ branch: liveBranch })
		})
		.then(response => {
			if (!response.ok) {
				return response.json().then(errorData => {
					showToast(errorData.message);
					throw new Error(errorData.message);
				});
			}
			return response.json();
		})
		.then(data => {
			console.log("Success: ", data.message);
			showToast(data.message);
		})
		.catch(error => console.error("Error submitting live branch:", error));
	}

	function handleStatusFormSubmit(event) {
		event.preventDefault();

		const blogStatus = document.querySelector('input[name="status"]:checked');
		console.log(blogStatus.value);
		submitStatus(blogStatus.value);
	}

	function submitStatus(status) {
		fetch("set-status", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ status })
		})
		.then(response => response.json().then(data => {
			/* check for http errors */
			if (!response.ok) {
				throw new Error(data.message || "Error submitting status");
			}
			showToast(data.message); /* show success status */
		}))
		.catch(error => {
			showToast(error.message || "An unknown error occurred");
		});	
	}

	/* Show a toast message */
	function showToast(message) {
		const toast = document.getElementById("toast");
		toast.textContent = message;
		toast.style.display = "block";

		setTimeout(() => {
			toast.style.display = "none";
		}, 3000); // Hide after 3 seconds
	}

	/* Initialize the script on page load */
	document.addEventListener("DOMContentLoaded", init);
</script>

{{ template "footer". }}
