{{ define "blogs" }}

<table class="u-full-width">
	<thead>
		<tr>
			<th>Site</th>
			<th>Repo link</th>
			<th>Subscribers</th>
			<th>Posts</th>
			<th>Status</th>
			<th>Last update</th>
			<th>Configuration</th>
		</tr>
	</thead>
	<tbody>
		{{ range . }}
			<tr>
				<td>
					{{ if .IsLive }}
						<a href="{{ .Url }}" target="_blank">{{ .Name }}</a>
					{{ else }}
						{{ .Domain }}
					{{ end }}
				</td>
				<td>
					<a href="{{ .RepositoryUrl }}" target="_blank">link</a>
				</td>
				<td><a href="{{ .SubscriberMetricsUrl }}">manage</a></td>
				<td><a href="{{ .MetricsUrl }}">manage</a></td>
				<td>{{ if .IsLive }}live{{ else }}offline{{end}}</td>
				<td>{{ .UpdatedAt.Format "2006-01-02 15:04:05 UTC-07:00" }}</td>
				<td><a href="{{ .ConfigUrl }}" class="button-primary">edit</a> </td>
			</tr>
		{{end}}
	</tbody>
</table>

{{ end }}
