{{ template "header" . }}

<section>
	<div class="container">
		<h3>Create New Blog</h3>
	</div>
</section>

<section>
	<div class="container">
		<form id="flowSelection">
			<label class="radio-label">
				<input type="radio" name="flow" value="repository">
				Create a repository based site
			</label>
			<label class="radio-label">
				<input type="radio" name="flow" value="folder">
				Create a folder based site
			</label>
			<button type="button" id="nextButton">Next</button>
		</form>
	</div>
</section>

<script>
	const nextButton = document.getElementById('nextButton');

	function enableButton() {
		nextButton.disabled = false;
	}

	function handleButtonClick() {
		const flow = document.querySelector('input[name="flow"]:checked')?.value;
		if (flow) {
			redirectUser(flow);
		}
	}

	function redirectUser(flow) {
		if (flow === "repository") {
			window.location.href = "/user/repository-flow"
		} else if (flow === "folder") {
			window.location.href = "/user/folder-flow"
		}
	}

	function init() {
		document.querySelectorAll('input[name="flow"]').forEach(radio => {
			radio.addEventListener("change", enableButton);
		})

		nextButton.addEventListener("click", handleButtonClick);
	}

	document.addEventListener("DOMContentLoaded", init);
</script>

{{ template "footer" . }}
