{{ template "header" . }}

<div id="toast" class="toast"></div>

<section>
	<div class="container">
		<h3>Repository Flow</h3>
	</div>
</section>

<section>
	<div class="container">
		<form id="blogForm" onsubmit="return false;">
			{{ if not .Data.AccountDetails.IsLinked }}
				<p>
					To create a repository based site, you need to link a Github Account.
					<a href="gh/linkgithub">Link GitHub Account</a>
				</p>
			{{ end }}
			{{ if not .Data.AccountDetails.HasInstallation }}
				<p>
					To use the repository flow, you need to
					install our GitHub App and grant us
					access to the relevent repositories <a
					href="github-installation">Install
				GitHub App</a>
				</p>
			{{ else }}
				<p>
					To manage your Github Installations, add/remove repositories.
					<a href="github-installation">Manage Installations</a>
				</p>
			{{ end }}

			<!-- Subdomain configuration -->
			<label for="subdomainInput">Configure subdomain</label>
			<div>
				<div class="row">
					<input class="four columns" autocomplete="off" type="text" id="subdomainInput" placeholder="Enter your subdomain"/>
					<span> .{{ .Data.ServiceName }}</span>
				</div>
				<div id="availabilityMessage" class="availability-message"></div>
			</div>

			<!-- Select theme -->
			<div class="row">
				<div class="four columns">
					<label for="themesDropdown">Select a theme</label>
					<select id="themesDropdown">
						{{ range .Data.Themes }}
							<option value="{{ . }}">{{ . }}</option>
						{{ end }}
					</select>
				</div>
			</div>

			<!-- Select repository -->
			<div class="row">
				<div class="four columns">
					<label for="repositoriesDropdown">Select a repository</label>
					<select id="repositoriesDropdown">
						{{ range .Data.Repositories }}
							<option value="{{ .Value }}">{{ .Name }}</option>
						{{ end }}
					</select>
				</div>
			</div>

			<!-- Select test branch -->
			<div class="row">
				<label for="testBranchInput">Set git branch for test site generation</label>
				<div class="row">
					<input class="four columns" type="text" id="testBranchInput" placeholder="Enter test-build branch"/>
				</div>
			</div>

			<!-- Submit git branch for live builds -->
			<div class="row">
				<label for="liveBranchInput">Set git branch for live builds</label>
				<div class="row">
					<input class="four columns" type="text" id="liveBranchInput" placeholder="Enter live-build branch"/>
				</div>
			</div>

			<br><br>

			<!-- Submit button -->
			<button type="submit" id="submitBlogBtn" disabled>Launch</button>
		</form>
	</div>
</section>

<script>
	let debounceTimer;

	function init() {
		const blogForm = document.getElementById("blogForm");
		const subdomainInput = document.getElementById("subdomainInput");

		/* subdomain availability feedback */
		subdomainInput.addEventListener("input", handleInput);
		blogForm.addEventListener("submit", handleBlogFormSubmit);
	}

	/* handle input event with debounce */
	function handleInput() {
		const subdomain = this.value.trim();
		const messageElement = document.getElementById("availabilityMessage");
		const submitBlogBtn = document.getElementById("submitBlogBtn");

		clearTimeout(debounceTimer); /* clear previous timer */

		if (subdomain.length > 0) {
			updateMessage(messageElement, "Checking availability...", "loading");
		} else {
			resetMessage(messageElement, submitBlogBtn); /* Clear message if input is empty */
			return;
		}

		debounceTimer = setTimeout(() => {
			checkSubdomainAvailability(subdomain, messageElement, submitBlogBtn);
		}, 300); /* 300ms debounce delay */
	}

	/* Check subdomain availability */
	function checkSubdomainAvailability(subdomain, messageElement, submitSubdomainBtn) {
		fetch("/user/subdomain-check", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ subdomain })
		})
		.then(response => response.json())
		.then(data => {
			if (data.available) {
				updateMessage(messageElement, "✅ This subdomain is available!", "available");
				submitSubdomainBtn.disabled = false;
			} else {
				updateMessage(messageElement, "❌ " + data.message, "unavailable");
				submitSubdomainBtn.disabled = true;
			}
		})
		.catch(error => handleError(error, messageElement, submitSubdomainBtn));
	}

	/* Handle subdomain form submission */
	function handleBlogFormSubmit(event) {
		event.preventDefault(); /* Prevent default form submission */

		const subdomain = document.getElementById("subdomainInput").value.trim();
		const repoID = document.getElementById("repositoriesDropdown").value.trim();
		const theme = document.getElementById("themesDropdown").value.trim();
		const testBranch = document.getElementById("testBranchInput").value.trim();
		const liveBranch = document.getElementById("liveBranchInput").value.trim();
		console.log("subdomain: ", subdomain);
		console.log("repositoryID: ", repoID);
		console.log("theme: ", theme);
		console.log("testBranch: ", testBranch);
		console.log("liveBranch: ", liveBranch);

		submitBlog(subdomain, repoID, theme, testBranch, liveBranch);
	}

	/* Submit the subdomain to the server */
	function submitBlog(subdomain, repoID, theme, testBranch, liveBranch) {
		fetch("/user/create-repository-blog", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({
				subdomain: subdomain,
				repository_id: repoID,
				theme: theme,
				test_branch: testBranch,
				live_branch: liveBranch
			})
		})
		.then(response => {
			if (!response.ok) {
				return response.json().then(errorData => {
					showToast(errorData.message);
					throw new Error(errorData.message);
				});
			}
			return response.json();
		})
		.then(data => {
			console.log("success: ", data.message);
			showToast(data.message);
			setTimeout(() => {
				window.location.href = data.url;
			}, 1000);
		})
		.catch(error => {
			console.error("Error submitting blog:", error)
			showToast(error.message);
		});
	}

	/* Update the availability message */
	function updateMessage(element, message, status) {
		element.textContent = message;
		element.className = `availability-message ${status}`;
	}

	/* Reset the message and disable submit button */
	function resetMessage(messageElement, submitSubdomainBtn) {
		messageElement.textContent = ""; /* Clear message */
		submitSubdomainBtn.disabled = true; /* Disable submit button */
	}

	/* Handle fetch errors */
	function handleError(error, messageElement, submitBlogBtn) {
		console.error("Error checking subdomain:", error);
		updateMessage(messageElement, "⚠️ An error occurred while checking availability.", "unavailable");
		submitBlogBtn.disabled = true; /* Disable submit button on error */
	}

	/* Show a toast message */
	function showToast(message) {
		const toast = document.getElementById("toast");
		toast.textContent = message;
		toast.style.display = "block";

		setTimeout(() => {
			toast.style.display = "none";
		}, 3000); // Hide after 3 seconds
	}

	/* Initialize the script on page load */
	document.addEventListener("DOMContentLoaded", init);
</script>

{{ template "footer" . }}
