{{ template "header" . }}

<div class='dashboard'>
	<h6>Subscriber Dashboard</h6>
	<div class='total-subscribers'>
		Total Subscribers: <span id='totalSubscribersCount'>{{ .Data.SubscriberData.Count }}</span>
	</div>
	<canvas id='subscriberMetrics'></canvas> </div>

<script>
	function renderChart() {
		const ctx = document.getElementById('subscriberMetrics');
		const metrics = {{ .Data.SubscriberData.CumulativeCounts }};
		new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [{
					label: 'Number of subscribers',
					data: metrics.map(
						item => ({
							x: item.timestamp,
							y: item.count
						})
					)
				}],
			},
			options: {
				scales: {
					x: {
						type: 'time',
						time: {
							unit: 'month'
						},
						title: {
							display: true,
							text: 'Months'
						}
					},
					y: {
						beginAtZero: true
					}
				}
			}
		});
	}

	renderChart();
</script>

{{ template "footer" . }}
