{{ template "header" . }}

<!-- Link Github Account -->
{{ if not .Data.AccountDetails.IsLinked }}
<section>
	<div class="container">
		<h4>Link Github account</h4>
		<p>
			To create a repository based site, you need to link a Github Account.
			<a href="gh/linkgithub">Link GitHub Account</a>
		</p>
	</div>
</section>
{{ end }}

<!-- Install/Manage GithubApp -->
<section>
	<div class="container">
		{{ if not .Data.AccountDetails.HasInstallation }}
			<h4>Install Our GitHub App</h4>
			<p>
				To use our application, you need to install our GitHub App. You
				will be able to select which repositories or organizations the
				app should have access to.
				<a href="{{.Data.GithubInstallAppUrl}}">Install GitHub App</a>
			</p>
		{{ else }}
			<h4>Manage your installations</h4>
			<p>
				To manage your Github Installations, add/remove repositories.
				<a href="{{.Data.GithubInstallAppUrl}}">Manage Installations</a>
			</p>
		{{ end }}
	</div>
</section>

<!-- Installations -->
<section>
	<div class="container">
		{{ template "blogs" .Data.Blogs }}
	</div>
</section>

<br>

{{ template "footer" . }}
