{{ template "header" . }}

<p>Welcome {{ .Data.Username }}</p>

<div class="container">
	<h5>Launching a Progstack</h5>
	<h6>1. Link Github account</h6>
	<p>If you did not register with a github account and you wish to blog
	link it now.</p>
	<a href="/user/gh/linkgithub">Link your GitHub Account</a>
	<br><br>

	<h6>2. Install Our GitHub App</h6>
	<p>To use our application, you need to install our GitHub App. Click the button below to proceed with the installation. You will be able to select which repositories or organizations the app should have access to.</p>
	<a href="{{.Data.GithubAppInstallUrl}}">Install GitHub App</a>
</div>

{{ template "installations" . }}

<br>

{{ template "footer" . }}
