{{ define "posts" }}

<table>
	<thead>
		<tr>
			<th>Post</th>
			<th>Date</th>
			<th>Views</th>
			<th>New Subs</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		{{ range . }}
			<tr>
				<td><a href="{{ .Url }}" target="_blank">{{ .Title }}</a></td>
				<td>
					{{ if .Date }}
						{{ .Date.Format "2006-01-02" }}
					{{ else }}
						N/A
					{{ end }}
				</td>
				<td>{{ .Views }}</td>
				<td>{{ .NewSubs }}</td>
				<td>
					{{ if .Email.Sent }}
						{{ .Email.Opens }} opens
					{{ else }}
						<a href="{{ .Email.SendURL }}">Send email</a>
					{{ end }}
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{ end }}
