{{ define "posts" }}

<table class="u-full-width">
	<thead>
		<tr>
			<th>Post</th>
			<th>Date</th>
			{{ if .CanViewAnalyticsAndSendEmails }}
			<th>Views</th>
			<th>New Subs</th>
			<th>Email</th>
			{{ end }}
		</tr>
	</thead>
	<tbody>
		{{ range .PostData }}
			<tr>
				<td>
					{{ if $.IsLive }}
					<a href="{{ .Url }}" target="_blank">{{ .Title }}</a>
					{{ else }}
					{{ .Title }}
					{{ end }}
				</td>
				<td>
					{{ if .Date }}
						{{ .Date.Format "2006-01-02" }}
					{{ else }}
						N/A
					{{ end }}
				</td>
				{{ if $.CanViewAnalyticsAndSendEmails }}
				<td>{{ .Views }}</td>
				<td>{{ .NewSubs }}</td>
				<td>
					{{ if .Email.Sent }}
						{{ .Email.Opens }} opens
					{{ else }}
						{{ if $.IsLive }}
						<a href="{{ .Email.SendURL }}">Send email</a>
						{{ else }}
						-
						{{ end }}
					{{ end }}
				</td>
				{{ end }}
			</tr>
		{{end}}
	</tbody>
</table>

{{ end }}
