{{ template "header" . }}

<section>
	<div class="container">
		{{ if .Data.UserInfo.UserID }}
		<p>To manage your subscription, <a href="/user/stripe/billing-portal">click here</a>.</p>
		{{ end }}
		<table>
			<thead>
				<tr>
					<th>Feature</th>
					{{range .Data.Tiers}}
					<th>{{ .Name }}</th>
					{{end}}
				</tr>
			</thead>
			<tbody>
				{{range $feat := .Data.Features}}
				<tr>
					<td>{{ $feat.Name }}</td>
					{{ range $tier := $.Data.Tiers}}
					<td>{{ $feat.Value $tier }}</td>
					{{end}}
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</section>

{{ template "footer" . }}
