.navbar {
	padding: 10px 0;
}

.navbar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar a {
	text-decoration: none;
	margin: 0 10px;
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar .left {
	display: flex;
	align-items: center;
}

.navbar .left a {
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

.navbar .right {
	display: flex;
	align-items: center;
}

.navbar .right #icons img {
	height: 1.3em;
	width: 1.3em;
}
